In [2]:
import pandas as pd

data = pd.read_csv("/Users/thomasjhojlunddodd/documents/lpthw/Sy1/power_plants/100ohm_results.csv")
data.head()

,Index Number,Failures,Total excess load,Unnamed: 3,Unnamed: 4,100,ohms
0,0,0.0,0.000000,NaN,NaN,NaN,NaN
1,1,0.0,0.000000,NaN,NaN,NaN,NaN
2,10,0.0,0.000000,NaN,NaN,NaN,NaN
3,100,0.0,0.000000,NaN,NaN,NaN,NaN
4,1000,1.0,2.027985,NaN,NaN,NaN,NaN

In [4]:
max_excess_load = data['Total excess load'].max()
print(max_excess_load)

961.47059

In [12]:
index_max_load = data['Total excess load'].idxmax()
print((index_max_load)+2)

1551

In [13]:
max_number_failures = data['Failures'].max()
print(max_number_failures)

7.0

In [18]:
import pandas as pd

data2 = pd.read_csv("/Users/thomasjhojlunddodd/documents/lpthw/Sy1/power_plants/50ohm_results.csv")
data2.head()

   Index Number  Failures  Total excess load
0             0       0.0                0.0
1             1       0.0                0.0
2            10       0.0                0.0
3           100       0.0                0.0
4          1000       0.0                0.0

In [19]:
max_excess_load = data2['Total excess load'].max()
print(max_excess_load)

181.68827263618385

In [20]:
index_max_load = data2['Total excess load'].idxmax()
print((index_max_load)+2)

860

In [21]:
max_number_failures = data2['Failures'].max()
print(max_number_failures)

2.0